.full-img {
    position: relative;
    display: inline-block;
  }
  
  .displayed-img {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Initially transparent */
    transition: background-color 0.3s; /* Smooth transition */
    pointer-events: none; /* So the overlay doesn’t block clicks on the button */
  }
  
  button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 10; /* To make sure buttons are on top */
  }
  