img {
    display: block;
    width: 100%;
    height: auto;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative; /* Position relative to contain the overlay */
    width: 50%; /* Width of the container */
    max-width: 300px; /* Maximum width */
}

#overlay {
    position: absolute; /* Position absolute to the container */
    bottom: 0; /* Align to the bottom of the container */
    background: rgba(0, 0, 0, 0.5); /* Black see-through background */
    color: #f1f1f1; /* Text color */
    width: 100%; /* Full width of the container */
    transition: .5s ease; /* Transition effect for hover */
    opacity: 0; /* Start hidden */
    color: white; /* Text color */
    font-size: 20px; /* Font size */
    padding: 20px; /* Padding inside the overlay */
    text-align: center; /* Center text */
}

/* Show overlay on hover */
.container:hover #overlay {
    opacity: 1; /* Make overlay visible on hover */
}
