body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 50px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#overlay1 {
    color:red;
    position: fixed;
    top: 10px;
    left: 10px;
}

#overlay2 {
    color: greenyellow;
    position:fixed;
    bottom: 200px;
    right:700px;
    text-align: center;
}

#overlay3 {
    color: blue;
    position: fixed;
    top: 100px;
    right: 550px;
}